body {
  margin: 0px;
  overflow: hidden;
  text-align: center;
  background-color: #66ccff;
}

.container {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 100%;
}
.containerTop {
  position: relative;
  width: 90%;
  height: 20%;
  border-style: solid;
}
.containerA {
  position: absolute;
  width: 100%;
  height: 100%;
}
.containerB {
  position: absolute;
  left: 70%;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.comp {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .comp canvas {
    display: block;
    vertical-align: middle;
  }

.slider {
  position: absolute;
  z-index: 9;
  cursor: nw-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
